name: manually pack an older version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to fetch and upload to NuGet'
        required: true
        default: '0.1.2' 
        type: string

env:
  NuGet_ApiKey: ${{ secrets.NUGET_API_KEY }}

jobs:
  do-check:
    runs-on: windows-latest 
    steps:
      - name: Checkout the repository 
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Do Check
        uses: cake-build/cake-action@d218f1133bb74a1df0b08c89cfd8fc100c09e1a0 # v3.0.1
        with:
          script-path: build.cake
          target: GetVersionManually
          arguments: |
            tool-version: ${{ inputs.version }} 
